DB_URI=mongodb://127.0.0.1:27017/habitTracker
PORT=8000
ENV=dev # or test or prod
BASE_URL=/api/v1 # or example.com
REFRESH_TOKEN_SECRET= # your refresh token
ACCESS_TOKEN_SECRET= # your access token
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=2d